img {
  width: 45px;
  height: 50px;
  position: relative;
  right: 6.75px;
  bottom: 4px;
  /* transform: rotate(-45deg); */
}

img:hover {
  transform: scale(1.1);
}

button {
  margin: 10px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  /* transform: rotate(45deg); */
}

.vl {
  height: 35px;
  width: 4px;
  background-color: #343843;
  z-index: -1;
}

hr {
  height: 4px !important;
  width: 35px;
  background-color: #343843;
  z-index: -1;
}

.from-ref1-to-kic1 {
  position: relative;
  margin-left: 96.75px;
  bottom: 200px;
}

.from-kic1-to-div1 {
  width: 67px;
  position: relative;
  margin-left: 30px;
  bottom: 229px;
}

.from-kic1-to-pos1 {
  width: 67px;
  position: relative;
  margin-left: 100px;
  bottom: 233px;
}

.from-ref1-to-div1 {
  position: relative;
  margin-left: 30px;
  bottom: 270px;
}

.from-ref1-to-pos1 {
  position: relative;
  margin-left: 163.25px;
  bottom: 307px;
}

.from-pos1-to-ref2 {
  position: relative;
  margin-left: 163.25px;
  bottom: 320px;
}

.from-kic1-to-kic2 {
  position: relative;
  margin-left: 97px;
  bottom: 190px;
}

.from-div1-to-han1 {
  position: relative;
  margin-left: 30px;
  bottom: 300px;
}

.from-han1-to-haw1 {
  position: relative;
  margin-left: 30px;
  bottom: 295px;
}

.from-ref2-to-wal1 {
  position: relative;
  margin-left: 163.25px;
  bottom: 330px;
}

.goalkeeping-progress {
  height: 2px;
  background-color: white;
  width:200px;
}

#growth-value {
  color: #2EFF2D;
}

#gk-tree {
  margin-top: 50px;
}

#gk-stats {
  vertical-align:top;
  margin-top: 100px;
  margin-left: 200px;
}

@media(max-width:800px) {
  #gk-stats {
    margin-left: auto;
  }
}
