img {
  position: relative;
  width: 45px;
  height: 50px;
  right: 6.75px;
  bottom: 4px;
  z-index: 2;
  /* transform: rotate(-45deg); */
}

img:hover {
  transform: scale(1.1);
}

button, input {
  margin: 10px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  /* transform: rotate(45deg); */
}

hr {
  position: relative;
  height: 4px !important;
  width: 35px;
  background-color: #343843;
}

p {
  color: #9CA5B4;
  font-size: 14px;
}

h3 {
  color: #F3FE59;
}

.vl {
  position: relative;
  height: 35px;
  width: 4px;
  background-color: #343843;
  z-index: 0;
}

.from-ref1-to-branch {
  left: 97px;
  bottom: 225px;
  z-index: 1;
}

.from-ref1-to-kic1 {
  left: 96.75px;
  bottom: 250px;
}

.from-kic1-to-div1 {
  width: 67px;
  margin-left: 30px;
  bottom: 264px;
}

.from-kic1-to-pos1 {
  width: 67.25px;
  margin-left: 100px;
  bottom: 268px;
}

.from-ref1-to-div1 {
  left: 30px;
  bottom: 305px;
}

.from-ref1-to-pos1 {
  left: 163.25px;
  bottom: 340px;
}

.from-pos1-to-ref2 {
  left: 163.25px;
  bottom: 365px;
}

.from-kic1-to-kic2 {
  left: 97px;
  bottom: 230px;
}

.from-div1-to-han1 {
  left: 30px;
  bottom: 330px;
}

.from-han1-to-haw1 {
  left: 30px;
  bottom: 330px;
}

.from-ref2-to-wal1 {
  left: 163.25px;
  bottom: 370px;
}

.goalkeeping-progress {
  height: 2px;
  background-color: white;
  width: 200px;
}

#growth-value {
  color: #2EFF2D;
}

#gk-tree {
  vertical-align: top;
  margin-top: 60px;
  height: 256px;
  margin-left: 100px;
}

#gk-stats {
  vertical-align: top;
  margin: 0px;
  margin-top: 50px;
  margin-left: 15px;
}

#cost {
  background-image: url('../Images/Cost Icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding-right: 39px;
  padding-top: 2px;
  word-spacing: 10px;
}

.Reflexes1-des {
  text-align: left;
  margin-left: 75px;
  visibility: hidden;
}

.Reflexes1:hover, .Reflexes2:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Reflexes On Hover.png') !important;
}

.Diving1:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Diving On Hover.png') !important;
}

.Kicking1:hover, .Kicking2:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Kicking On Hover.png') !important;
}

.Positioning1:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Positioning On Hover.png') !important;
}

.Handling1:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Handling On Hover.png') !important;
}

.Hawk1:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Hawk On Hover.png') !important;
}

.Wall1:hover {
  content: url('../Images/Skill Tree/Goalkeeping/Wall On Hover.png') !important;
}

@media(max-width:800px) {
  .gk-description {
    margin: 0px;
  }

  #gk-tree {
    margin: 0px;
    height: 266px;
  }

  #gk-stats {
    margin: 0px !important;
  }
}
