img {
  width: 45px;
  height: 50px;
  position: relative;
  right: 6.75px;
  bottom: 4px;
  z-index: 2;
  /* transform: rotate(-45deg); */
}

img:hover {
  transform: scale(1.1);
}

button {
  margin: 10px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  /* transform: rotate(45deg); */
}

hr {
  position: relative;
  height: 4px !important;
  width: 35px;
  background-color: #343843;
  z-index: 0;
}

.vl {
  position: relative;
  height: 35px;
  width: 4px;
  background-color: #343843;
  z-index: 1;
}

.from-acc1-to-acc2 {
  left: 29.5px;
  bottom: 210px;
}

.from-acc2-to-acc3 {
  left: 29.5px;
  bottom: 180px;
}

.from-sps1-to-sps2 {
  left: 164.5px;
  bottom: 280px;
}

.from-sps2-to-sps3 {
  left: 164.5px;
  bottom: 250px;
}

.from-sps4-to-che1 {
  left: 97px;
  bottom: 230px;
}

.from-branch-to-sps4 {
  left: 97px;
  bottom: 302px;
}

.from-acc2-to-branch {
  width: 71px;
  right: 34px;
  bottom: 340px;
}

.from-sps2-to-branch {
  width: 71px;
  left: 33px;
  bottom: 344px;
}

.pace-progress {
  height: 2px;
  background-color: white;
  width:200px;
}

#Acceleration1:hover, #Acceleration2:hover, #Acceleration3:hover {
  content: url('../Images/Skill Tree/Pace/Acceleration On Hover.png') !important;
}

#Sprint-Speed1:hover, #Sprint-Speed2:hover, #Sprint-Speed3:hover, #Sprint-Speed4:hover {
  content: url('../Images/Skill Tree/Pace/Sprint-Speed On Hover.png') !important;
}

#Cheetah1:hover {
  content: url('../Images/Skill Tree/Pace/Cheetah On Hover.png') !important;
}

#growth-value {
  color: #2EFF2D;
}

#pac-tree {
  vertical-align: top;
  margin-top: 50px;
  height: 310px;
}

#pac-stats {
  vertical-align:top;
  margin-top: 100px;
  margin-left: 200px;
}

@media(max-width:800px) {
  #pac-tree {
    margin: 0px;
    height: 250px;
  }

  #pac-stats {
    margin: 0px;
  }
}
