img {
  width: 45px;
  height: 50px;
  position: relative;
  right: 6.75px;
  bottom: 4px;
  z-index: 2;
  /* transform: rotate(-45deg); */
}

button {
  margin: 10px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  /* transform: rotate(45deg); */
}

img:hover {
  transform: scale(1.1);
}

.physical-progress {
  height: 2px;
  background-color: white;
  width:200px;
}

.vl {
  position: relative;
  height: 35px;
  width: 4px;
  background-color: #343843;
  z-index: 0;
}

hr {
  position: relative;
  height: 4px !important;
  width: 35px;
  background-color: #343843;
}

.from-str1-to-sta1 {
  left: 96px;
  bottom: 210px;
}

.from-sta1-to-rea1 {
  left: 163px;
  bottom: 162px;
}

.from-sta1-to-str2 {
  left: 29.5px;
  bottom: 215px;
}

.from-sta1-to-rea1-branch {
  height: 15px;
  left: 96px;
  bottom: 212px;
  z-index: 1;
}

/* background-color: #0A8BFF; */

.from-sta1-to-jum1 {
  left: 96px;
  bottom: 270px;
}

.from-str2-to-bul1 {
  left: 29.5px;
  bottom: 235px;
}

.from-jum1-to-rea2 {
  left: 96px;
  bottom: 280px;
}

.from-rea1-to-agg1 {
  left: 163px;
  bottom: 310px;
}

.from-jum1-to-rea1 {
  width: 68.75px;
  bottom: 391px;
  left: 34px;
}

.from-jum1-to-str2 {
  width: 68.25px;
  bottom: 395px;
  right: 35px;
}

.from-sta2-to-rea3 {
  left: 30px;
  bottom: 210px;
}
.from-rea3-to-agg2 {
  left: 30px;
  bottom: 180px;
}
.from-agg2-to-jum2 {
  width: 69px;
  bottom: 165px;
}
.from-agg2-to-jum3 {
  left: 30.5px;
  bottom: 220px;
}
.from-jum2-to-acr1 {
  left: 97px;
  bottom: 260px;
}

.from-rea3-to-jum2 {
  left: 96.5px;
  bottom: 200px;
}

.from-rea3-to-jum2-branch {
  left: 30px;
  bottom: 270px;
  z-index: 1;
}

#growth-value {
  color: #2EFF2D;
}

#left-phy-tree, #right-phy-tree {
  vertical-align:top;
  margin-top: 50px;
  height: 256px;
}

#phy-stats {
  vertical-align:top;
  margin-top: 100px;
  margin-left: 200px;
}

@media(max-width:800px) {
  #left-phy-tree, #right-phy-tree {
    margin: 0px;
    height: 276px;
  }

  #phy-stats {
    position: relative;
    margin: 0px;
  }
}
