body, html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Bebas Neue';
  background-color: #1C1F26;
  text-align: center;
  color: white;
}

hr {
  /* color: #375AF6; */
  opacity: 100%;
  margin: auto;
  width: 75%;
}

h1 {
  padding-top: 10px;
}

a {
  letter-spacing: 0.6px;
  font-style: italic;
}

.navigation {
  background-color: #C7F650;
  padding-right: 10px;
}

.FIFAlogo {
  padding-left: 10px;
  height: 30px;
}

.hamburger {
  background-color: #1C1F26;
  border-color: #1C1F26;
  height: 46px;
}

.nav-item {
  padding-right: 10px;
  font-size: 12px;
}

.sub-title {
  line-height: 90%;
  font-size: 375%;
}

.ul {
  display: inline-block;
}

.categories {
  padding-left: 13%;
  text-align: left;
  font-size: 60px;
}

.copyright {
  background-color: #252525;
  padding-bottom: 10px;
  position: relative;
  padding-top: 50px;
  font-size: 20px;
  color: grey;
}

.btn-outline-dark {
  border-color: #C7F650;
  color: #C7F650;
}

.ea {
  margin-top: 15px;
}

.button-icons {
  position: relative;
  right: 5px;
}

#navbarlink {
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  color: black;
}

#main-content {
  background-size: 100% calc(100% - 62px);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  height: calc(100% - 62px);
  overflow-y: scroll;
  width: 100%;
  position: sticky;
}

#title {
  font-family: 'Bebas Neue';
  padding-bottom: 100px;
  text-align: center;
  font-style: italic;
  line-height: 0.5;
}

#deep-dive {
  padding-top: 50px;
  margin: auto;
}

#contact-me {
  display: inline-block;
  padding-bottom: 16px;
  position: relative;
}

@media (max-width:800px) {
  .logo {
    width: 100%;
  }

  #navbarlink {
    font-size: 8vw;
  }
}

@font-face {
  src: url('BebasNeue-Regular.ttf') format('truetype');
  font-family: 'Bebas Neue';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
