<!DOCTYPE html>
<html lang="en" dir="">

<head>

  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

  <title>Make Your Own Build</title>

  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <link rel="stylesheet" href="../bootstrap-5.1.3-dist/css/bootstrap.min.css">
  <script src="../bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="../CSS/form.css">
  <link rel="icon" href="../Images/Pro Clubs.ico">
</head>

<body>
  <nav class="navbar navbar-custom sticky-top navbar-expand-lg navbar-dark navigation">
    <a class="navbar-brand" href="../index.html">
      <img class="FIFAlogo" src="../Images/fifa-22-logo.png" alt="">
    </a>

    <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color:#1C1F26"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link friendly-toggler" id="navbarlink" href="level-up.html">Level Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link friendly-toggler" id="navbarlink" href="">Skill Tree</a>
        </li>
        <li class="nav-item">
          <a class="nav-link friendly-toggler" id="navbarlink" href="">Archetypes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link friendly-toggler" id="navbarlink" href="">Perks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link friendly-toggler" id="navbarlink" href="demo.html">Try Your Own Build</a>
        </li>
      </ul>
    </div>
  </nav>

  </div>

  <div id="main-content" style="background-image: url('../Images/build-background.png');">

    <div class="row tree-ptr">
      <div class="col" id="athletic-ptr">
        <button id="athletic-btn" type="button" name="button">Athletic</button>
      </div>
      <div class="col" id="physical-ptr">
        <button id="physical-btn" type="button" name="button">Physical</button>
      </div>
      <div class="col" id="defending-ptr">
        <button id="defending-btn" type="button" name="button">Defending</button>
      </div>
      <div class="col" id="dribbling-ptr">
        <button id="dribbling-btn" type="button" name="button">Dribbling</button>
      </div>
      <div class="col" id="passing-ptr">
        <button id="passing-btn" type="button" name="button">Passing</button>
      </div>
      <div class="col" id="shooting-ptr">
        <button id="shooting-btn" type="button" name="button">Shooting</button>
      </div>
      <div class="col" id="pace-ptr">
        <button id="pace-btn" type="button" name="button">Pace</button>
      </div>
      <div class="col" id="goalkeeping-ptr">
        <button id="goalkeeping-btn" type="button" name="button">Goalkeeping</button>
      </div>
    </div>

    <div class="tree-form">
      <iframe id="athletic-part" src="athletic.html" width="100%" height="400px" sandbox="allow-same-origin allow-forms allow-scripts allow-top-navigation"></iframe>
      <iframe id="physical-part" src="physical.html" width="100%" height="400px"></iframe>
      <iframe id="defending-part" src="defending.html" width="100%" height="400px"></iframe>
      <iframe id="dribbling-part" src="dribbling.html" width="100%" height="400px"></iframe>
      <iframe id="passing-part" src="passing.html" width="100%" height="400px"></iframe>
      <iframe id="shooting-part" src="shooting.html" width="100%" height="400px"></iframe>
      <iframe id="pace-part" src="pace.html" width="100%" height="400px"></iframe>
      <iframe id="goalkeeping-part" src="goalkeeping.html" width="100%" height="400px"></iframe>
    </div>

    <div class="nextPrevButtons">
      <button class="btn btn-primary" id="previousStepButton" type="button" name="button" style="margin-right:5px;">Previous</button>
      <button class="btn btn-primary" id="nextStepButton" type="button" name="button" style="margin-left:5px;">Next</button>
    </div>


    <hr style="height: 4px;">

    <h1>Results</h1>
    <h1>sdbjbdsobbaiboabsdo</h1>


    <div class="copyright">
      <section id="contact-me">
        <a href="https://www.linkedin.com/"><button class="btn btn-outline-dark" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in button-icons"></i> LinkedIn</button></a>
        <a href="https://twitter.com/"><button class="btn btn-outline-dark"><i class="fab fa-twitter button-icons"></i> Twitter</button></a>
        <a href="mailto:hood.redcrimealley@gmail.com"><button class="btn btn-outline-dark" type="button"><i class="fas fa-phone-alt button-icons"></i> Contact Us</button></a>
        <br>
        <br>
        <a href="https://www.ea.com/games/fifa/pitch-notes/news/pitch-notes-fifa-22-pro-clubs-deep-dive"><button class="btn btn-outline-dark ea icon"><img class="button-icons" src="../Images/EA_logo_logotype green.png" alt="EA Logo"
              height="15px">Website</button></a>
      </section>
      <p>© 2022 Red Hood.</p>
      <p>This website is not affiliated with or sponsored by Electronic Arts Inc. or its Licensors.</p>
    </div>
  </div>
</body>

<script type="text/javascript" src="../Javascript/javascript.js"></script>

</html>
