<!DOCTYPE html>
<html lang="en" dir="">
  <head>

      <meta charset="utf-8">
      <meta name="HandheldFriendly" content="true" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

      <title>Make Your Own Build</title>

      <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

      <link rel="stylesheet" href="../bootstrap-5.1.3-dist/css/bootstrap.min.css">
      <script src="../bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

      <link rel="stylesheet" href="../CSS/form.css">
      <link rel="stylesheet" href="../CSS/dribbling.css">
      <link rel="icon" href="../Images/Pro Clubs.ico">
  </head>
  <body style="background-color: rgba(28,31,26,0.5);">
    <div class="col" id="left-dri-tree">
      <button type="button" name="button" style="margin-right:78px;"><img id="Balance1" src="../Images/Skill Tree/Dribbling/Balance.png" onmouseleave="offHover('Balance', 1)" onmouseover="onHover('Balance', 1)" alt=""></button>
      <button type="button" name="button"><img id="Ball-Control1" src="../Images/Skill Tree/Dribbling/Ball-Control.png" onmouseleave="offHover('Ball-Control', 1)" onmouseover="onHover('Ball-Control', 1)" alt=""></button>
      <br>
      <button type="button" name="button" style="margin-right:78px;"><img id="Dribbling1" src="../Images/Skill Tree/Dribbling/Dribbling.png" onmouseleave="offHover('Dribbling', 1)" onmouseover="onHover('Dribbling', 1)" alt=""></button>
      <button type="button" name="button"><img id="Ball-Control2" src="../Images/Skill Tree/Dribbling/Ball-Control.png" onmouseleave="offHover('Ball-Control', 2)" onmouseover="onHover('Ball-Control', 2)" alt=""></button>
      <br>
      <button type="button" name="button"><img id="Attacking-Position1" src="../Images/Skill Tree/Dribbling/Attacking-Position.png" onmouseleave="offHover('Attacking-Position', 1)" onmouseover="onHover('Attacking-Position', 1)" alt=""></button>
      <button type="button" name="button"><img id="Skill-Moves1" src="../Images/Skill Tree/Dribbling/Skill-Moves.png" onmouseleave="offHover('Skill-Moves', 1)" onmouseover="onHover('Skill-Moves', 1)" alt=""></button>
      <button type="button" name="button"><img id="Ball-Control3" src="../Images/Skill Tree/Dribbling/Ball-Control.png" onmouseleave="offHover('Ball-Control', 3)" onmouseover="onHover('Ball-Control', 3)" alt=""></button>
      <br>
      <button type="button" name="button"><img id="Maestro1" src="../Images/Skill Tree/Dribbling/Maestro.png" onmouseleave="offHover('Maestro', 1)" onmouseover="onHover('Maestro', 1)" alt=""></button>
    </div>
    <div class="col" id="right-dri-tree">
      <button type="button" name="button"><img id="Agility1" src="../Images/Skill Tree/Dribbling/Agility.png" onmouseleave="offHover('Agility', 1)" onmouseover="onHover('Agility', 1)" alt=""></button>
      <br>
      <button type="button" name="button"><img id="Dribbling2" src="../Images/Skill Tree/Dribbling/Dribbling.png" onmouseleave="offHover('Dribbling', 2)" onmouseover="onHover('Dribbling', 2)" alt=""></button>
      <br>
      <button type="button" name="button"><img id="Agility2" src="../Images/Skill Tree/Dribbling/Agility.png" onmouseleave="offHover('Agility', 2)" onmouseover="onHover('Agility', 2)" alt=""></button>
      <button type="button" name="button"><img id="Balance2" src="../Images/Skill Tree/Dribbling/Balance.png" onmouseleave="offHover('Balance', 2)" onmouseover="onHover('Balance', 2)" alt=""></button>
      <button type="button" name="button"><img id="Skill-Moves2" src="../Images/Skill Tree/Dribbling/Skill-Moves.png" onmouseleave="offHover('Skill-Moves', 2)" onmouseover="onHover('Skill-Moves', 2)" alt=""></button>
      <br>
      <button type="button" name="button"><img id="Attacking-Position2" src="../Images/Skill Tree/Dribbling/Attacking-Position.png" onmouseleave="offHover('Attacking-Position', 2)" onmouseover="onHover('Attacking-Position', 2)" alt=""></button>
      <button type="button" name="button" style="margin-right:78px;"><img id="Lynx1" src="../Images/Skill Tree/Dribbling/Lynx.png" onmouseleave="offHover('Lynx', 1)" onmouseover="onHover('Lynx', 1)" alt=""></button>
    </div>
    <div class="col" id="dri-stats">
      <table>
        <tr>
          <th>Dribbling</th>
        </tr>
        <tr>
          <td colspan="2" id="progressbar">
            <div class="progress dribbling-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 2px" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td id="dribbling-progress-stat"></td>
        </tr>
        <tr>
          <td>Agility</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70px" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>70</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>Balance</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 73px" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>73</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>Att. Position</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65px" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>65</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>Ball Control</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75px" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>75</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>Dribbling</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 63px" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>63</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>Skill Moves</td>
          <td><img id="star" src="../Images/Yellow Star.png" style="margin-left:5px;"><img id="star" src="../Images/Yellow Star.png"><img id="star" src="../Images/Yellow Star.png"><img id="star" src="../Images/Empty Star.png"><img id="star" src="../Images/Empty Star.png"></td>
        </tr>
      </table>
    </div>
  </body>
  <script type="text/javascript" src="/Javascript/dribbling.js">

  </script>
</html>
