<!DOCTYPE html>
<html lang="en" dir="">
  <head>

      <meta charset="utf-8">
      <meta name="HandheldFriendly" content="true" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

      <title>Make Your Own Build</title>

      <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

      <link rel="stylesheet" href="../bootstrap-5.1.3-dist/css/bootstrap.min.css">
      <script src="../bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

      <link rel="stylesheet" href="../CSS/form.css">
      <link rel="stylesheet" href="../CSS/goalkeeping.css">
      <link rel="icon" href="../Images/Pro Clubs.ico">
  </head>
  <body style="background-color: rgba(28,31,26,0.5);">
    <div class="col" id="gk-tree">
      <button type="button" name="button"><div class="tree-icons Reflexes1" id="Reflexes1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Reflexes.png');" onclick="select('Reflexes', 1)"></div></button>
      <br>
      <button type="button" name="button"><div class="tree-icons Diving1" id="Diving1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Diving.png');" onclick="select('Diving', 1)"></div></button>
      <button type="button" name="button"><div class="tree-icons Kicking1" id="Kicking1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Kicking.png');" onclick="select('Kicking', 1)"></div></button>
      <button type="button" name="button"><div class="tree-icons Positioning1" id="Positioning1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Positioning.png');" onclick="select('Positioning', 1)"></div></button>
      <br>
      <button type="button" name="button"><div class="tree-icons Handling1" id="Handling1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Handling.png');" onclick="select('Handling', 1)"></div></button>
      <button type="button" name="button"><div class="tree-icons Kicking2" id="Kicking2" style="background-image: url('../Images/Skill Tree/Goalkeeping/Kicking.png');" onclick="select('Kicking', 2)"></div></button>
      <button type="button" name="button"><div class="tree-icons Reflexes2" id="Reflexes2" style="background-image: url('../Images/Skill Tree/Goalkeeping/Reflexes.png');" onclick="select('Reflexes', 2)"></div></button>
      <br>
      <button type="button" name="button" style="margin-right:78px;"><div class="tree-icons Hawk1" id="Hawk1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Hawk.png');" onclick="select('Hawk', 1)"></div></button>
      <button type="button" name="button"><div class="tree-icons Wall1" id="Wall1" style="background-image: url('../Images/Skill Tree/Goalkeeping/Wall.png');" onclick="select('Wall', 1)"></div></button>
      <div class="vl from-ref1-to-branch"></div>
      <div class="vl from-ref1-to-kic1"></div>
      <hr class="from-kic1-to-div1">
      <hr class="from-kic1-to-pos1">
      <div class="vl from-kic1-to-kic2"></div>
      <div class="vl from-ref1-to-div1"></div>
      <div class="vl from-ref1-to-pos1"></div>
      <div class="vl from-div1-to-han1"></div>
      <div class="vl from-pos1-to-ref2"></div>
      <div class="vl from-han1-to-haw1"></div>
      <div class="vl from-ref2-to-wal1"></div>
    </div>
    <div class="col" id="gk-stats">
      <table>
        <tr>
          <th>Goalkeeping</th>
        </tr>
        <tr>
          <td colspan="2" id="progressbar">
            <div class="progress goalkeeping-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 2px" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td id="goalkeeping-progress-stat"></td>
        </tr>
        <tr>
          <td>GK Diving</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>10</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>GK Handling</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>10</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>GK Kicking</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>10</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>GK Reflexes</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>10</td>
          <td id="growth-value"></td>
        </tr>
        <tr>
          <td>GK Pos.</td>
          <td id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 10px" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 0px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>10</td>
          <td id="growth-value"></td>
        </tr>
      </table>
    </div>
  </body>
  <script type="text/javascript" src="../Javascript/goalkeeping.js">

  </script>
</html>
